body
{
    font-family: "Quicksand", sans-serif;
}
.container
{
    width: 1296px;
    margin: 0 auto;
}
.section-title
{
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}
.painted-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    background-color:  #0F8277;
    text-decoration: none;
    color: #EEE;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}
.transparent-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 2px solid #0F8277;
    text-decoration: none;
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%
}
header
{
    display: flex;
    width: 1296px;
    height: 39px;
    margin: 30px auto 31px;
    justify-content: space-between;
    align-items: center;
}
.header__left-wrapper
{
    display: flex;
    column-gap: 44px;

}
.header__left-wrapper-logo
{
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
    text-decoration: none;
}
.painted-btn--explore
{
    width: 98px;
    height: 39px;
    justify-content: start;
    padding-left: 12px;
    position: relative;
}
.painted-btn--explore::after
{
    content: "";
    width: 8px;
    height: 14px;
    background-image: url("../images/Frame 1.svg");
    position: absolute;
    background-position: center;
    background-size: 100%;
    right: 12px;
    top: 12px;
}
.header__search
{
    display: flex;
    width: 330px;
    height: 39px;
}
.header__search-text
{
    display: block;
    width: 294px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #5C5C5C;
    padding-left: 12px;
}
.header__search-text::placeholder
{
    color: #5C5C5C;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    font-family: "Quicksand", sans-serif;
}
.header__search-submit
{
    width: 36px;
    height: 36px;
    border: 1px solid #5C5C5C;
    background-color: #0F8277;
    background-image: url("../images/Group.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.header__right-wrapper
{
    display: flex;
    width: 521px;
    height: 39px;
    justify-content: space-between;
    align-items: center;
}
.header__right-wrapper-list
{
    display: flex;
    column-gap: 48px;
}
.header__right-wrapper-link
{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.header__right-wrapper-authorization
{
    display: flex;
    column-gap: 16px;
    width: 168px;
    height: 39px;
}
.transparent-btn--login
{
    width: 71px;
    height: 39px;
    border: none;
}
.painted-btn--signup
{
    width: 81px;
    height: 39px;
}
.main__learn
{
    display: flex;
    height: 602px;
    background-color: #DBF3ED;
    border-radius: 12px;
    margin: 0 auto 80px;
    align-items: center;
    justify-content: space-around;
}
.main__learn-description
{
    display: flex;
    width: 512px;
    flex-direction: column;
    row-gap: 32px;
}
.main__learn-image
{
    display: block;
    height: 533px;
}
h1
{
    color: #000;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;

}
.main__learn-description p
{
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    width: 482px;
}
.main__learn-links
{
    display: flex;
    column-gap: 24px;
}
.painted-btn--start-learn
{
    display: flex;
    width: 132px;
    height: 39px;
}
.transparent-btn--learn-more
{
    display: flex;
    width: 115px;
    height: 39px;
}
#main__program
{
    display: block;
    height: 640px;
    margin: 0 auto 80px;
}
.main__section-title
{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.section-h2
{
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}
.main__section-title h3
{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}
.main__program-cards
{
    display: flex;
    height: 480px;
    column-gap: 24px;
    margin: 40px 0 80px;
}
.main__program-cards a
{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 416px;
    height: 480px;
    border-radius: 8px;
    border: 1px solid #DADADA;
}
.main__program-cards-text
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 384px;
    height: 162px;
    margin: 24px 16px;
}
.main__cards-inside
{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.section-DAN
{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    padding-left: 84px;
    position: relative;
}
.section-DAN::before
{
    content: "";
    width: 72px;
    height: 20px;
    background-image: url("../images/dan-logo 1.svg");
    position: absolute;
    left: 0;
}
.main__section-subtitle
{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}
.main__program-diploma
{
    position: relative;
    color: #0F8277;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    padding-left: 32px;
}
.main__program-diploma::before
{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../images/cds-react-aria-9.svg");
    position: absolute;
    left: 0;
}
.main__program-EU
{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    position: relative;
    padding-left: 30px;
}
.main__program-EU::before
{
    content: "";
    width: 18.2px;
    height: 20px;
    background-image: url("../images/eu_logo.svg");
    position: absolute;
    left: 0;
    bottom: 2px;
}
.main__program-Institute
{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    position: relative;
    padding-left: 58px;
}
.main__program-Institute::before
{
    content: "";
    width: 46.2px;
    height: 20px;
    background-image: url("../images/logo-prjctr.svg");
    position: absolute;
    left: 0;
}
.main__courses
{
    display: flex;
    height: 700px;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 83px;
}
.main__courses-cards
{
    display: flex;
    height: 480px;
    column-gap: 24px;
}
.main__courses-cards a
{
    display: block;
    text-decoration: none;
    width: 306px;
    height: 480px;
    border-radius: 8px;
    border: 1px solid #DADADA;
}
.main__courses-cards-text
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 274px;
    height: 162px;
    margin: 24px 16px;
}
.main__courses-cards-course
{
    color: #0F8277;
    leading-trim: both;
    text-edge: cap;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.main__link
{
    display: flex;
    justify-content: center;

}
.section-link
{
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 165px;
    height: 20px;
    color: #0F8277;
    leading-trim: both;
    text-edge: cap;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}
.section-link::after
{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../images/arrow.svg");
    right: 0;
}
.main__topics
{
    display: flex;
    flex-direction: column;
    height: 432px;
    row-gap: 40px;
    margin-bottom: 83px;
}
.main__topics-wrapper
{
    display: flex;
    column-gap: 24px;
}
.main__topics-interior
{
    display: flex;
    flex-direction: column;
    width: 306px;
    row-gap: 32px;

}
.main__topics-interior h3
{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}
.main__topics-description
{
    display: flex;
    flex-direction: column;
    width: 306px;
    row-gap: 10px;
}
.main__topics-description h4
{
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}
.main__topics-description p
{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.section-link--more
{
    width: 149px;
}
.main__companies
{
    display: flex;
    height: 382px;
    justify-content: center;
    align-items: center;
    background-color: #DBF3ED;
    margin-bottom: 80px;
}
.main__companies-wrapper
{
    display: flex;
    flex-direction: column;
    column-gap: 60px;
    width: 1296px;
    height: 222px;
    justify-content: center;
}
.section-title--companies
{
    text-align: center;
}
.main__companies-figure
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.main__business-section
{
    display: flex;
    align-items: center;
    column-gap: 72px;
    width: 1296px;
    height: 412px;
    margin: 0 auto 70px;
}
.main__business-section-content
{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    width: 636px;
    height: 277px;
}
.main__business-section-content p
{
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
}
.painted-btn--contact
{
    width: 131px;
    height: 39px;
}
.main__business-section-images td
{
    width: 186px;
    height: 126px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
.bs-td1
{
    border-bottom: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
}
.bs-td2
{
    border-bottom: 1px solid #BABABA;
}
.bs-td3
{
    border-bottom: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
}
.bs-td4
{
    border-bottom: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
}
.bs-td5
{
    border-bottom: 1px solid #BABABA;

}
.bs-td6
{
    border-bottom: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
}
.bs-td7
{
    border-right: 1px solid #BABABA;
}
.bs-td9
{
    border-left: 1px solid #BABABA;
}
.main__plan-section
{
    display: flex;
    flex-direction: column;
    background-color: #DBF3ED;
    padding-top: 80px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: start;
    margin: 0 auto 80px;
}
.main__plan-section-cards
{
    display: flex;
    width: 1296px;
    height: 698px;
    margin-top: 40px;
    column-gap: 24px;
}
.main__plan-section-card
{
   display: flex;
    width: 416px;
    height: 698px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    justify-content: center;
    align-items: center;
}
.main__plan-section-card--paint
{
    background-color: #0F8277;
}
.main__plan-section-cards-inside
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 304px;
    height: 586px;
    margin: 56px;
    position: relative;
}
.main__plan-section-cards-top
{
    display: flex;
    flex-direction: column;
    row-gap: 27px;
    align-items: center;
    height: 286px;
    justify-content: space-between;
}


.main__plan-section-wrapper-text
{
    display: flex;
    flex-direction: column;
    row-gap: 27px;
}
.main__plan-section-white-card-text1
{
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}
.main__plan-section-white-card-text2
{
    width: 304px;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;

}
.main__plan-section-white-card-text3
{
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;

}
.main__plan-section-white-card-text3 span
{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    margin-left: 16px;
}
.main__plan-section-paint-card-text1
{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;

}
.main__plan-section-paint-card-text2
{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;

}
.main__plan-section-paint-card-text3
{
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;

}
.main__plan-section-paint-card-text3 span
{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    margin-left: 16px;
}
.painted-btn--pb-white-card
{
    width: 119px;
    height: 42px;
}

.painted-btn--pb-paint-card
{
    width: 119px;
    height: 42px;
    border: 2px solid #FFF;
}
.main__plan-section-wrapper-ul
{
    display: flex;
    width: 416px;
    justify-content: center;
}

.main__plan-section-cards-ul
{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    height: 203px;
    width: 264px;
   justify-content: right;
}
.main__plan-section-cards-ul::before
{
    content:"";
    display: block;
    width: 304px;
    height: 2px;
    border-radius: 80px;
    background-color: #0F8277;
    position: absolute;
    bottom: 251px;
    right: 1px;
}
.main__plan-section-cards-ul--second::before
{
    background-color: #FFF;
}
.main__plan-section-card-li
{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.main__plan-section-card-li::before
{
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("../images/Vector 2.svg");
    position: absolute;
    background-color: #0F8277;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    left: -5px;
}
.main__plan-section-paint-card-li
{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.main__plan-section-paint-card-li::before
{
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("../images/Vector 3.svg");
    position: absolute;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    left: -5px;
}
.main__student-section
{
    height: 767px;
    margin-bottom: 77px;
}
.container--student
{
    display: grid;
    grid-template-columns: repeat(4, 306px);
    grid-template-rows: repeat(3, 211px);
    gap: 24px 23px;
}
.img-9
    {
        grid-row: span 2;
        grid-column: span 2;
    }
.h2-students
    {
        color: #000;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 40px;
    }
.main__contact-section-wrapper
    {
        background-color: black;
        background-size: 100%;
        height: 727px;
        position: relative;
        background-repeat: no-repeat;
}
.main__contact-section-inside
{
        height: 727px;
        background-image: url("../images/Section-bg.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        opacity: 0.4;

}
form
{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 565px;
        border-radius: 24px;
        background-color: #DBF3ED;
        position: absolute;
        bottom: 48px;
        left: 35%;
        padding-bottom: 30px;
        padding-top: 30px;
        row-gap: 24px;

}
form p
{
        width: 505px;
        color: #000;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
}
.form__content
{
        margin-top: 32px;
        position: relative;
}
.form__content-label
{
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    position: absolute;
    top: -50%;

}
.form__content-input
{
        width: 481px;
        height: 24px;
        border-radius: 4px;
        border: 1px solid #0F8277;
        background-color: #FDFDFD;
        padding: 12px;
}
.form__content-input::placeholder
{
        color: #8E8E8E;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
}
.form__content-textarea
{
        width: 481px;
        height: 80px;
        resize: none;
        border-radius: 4px;
        border: 1px solid #0F8277;
        background-color: #FDFDFD;
        padding: 12px;
}
.form__content-textarea::placeholder
{
        color: #8E8E8E;
        font-family: "Quicksand", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
}

.form__content-label--txt
{
        top: -25%;
}
.form__content-submit
{
        width: 196px;
        height: 42px;
        background-color: #0F8277;
        color: #F6FDFF;
        text-align: center;
        font-size: 18px;
        border-radius: 4px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.72px;
        border: none;
        margin-right: 55%;
}
footer
{
        background-color: #F1F1F1;
        background-size: 100%;
}
.container--footer
{
        display: flex;
        height: 239px;
        justify-content: space-between;
        align-items: center;
}
.footer__section-logo
{
        display: flex;
        width: 306px;
        height: 111px;
        flex-direction: column;
        justify-content: space-between;
}
.footer__section-logo a
{
        text-decoration: none;
        color: #000;
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.64px;

}
.footer__text-content
{
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
}
.footer__wrapper-network
{
        display: flex;
        flex-direction: column;
        width: 306px;
        height: 111px;
        justify-content: space-between;
}
.footer__section-network
{
        display: flex;
        justify-content: end;
        column-gap: 24px;
        width: 306px;
        height: 32px;
}
.footer__network-inst
{
        width: 32px;
        height: 32px;
        background-image: url("../images/instagr.svg");
        background-position: center center;
}
.footer__network-fbk
{
        width: 32px;
        height: 32px;
        background-image: url("../images/faiceb.svg");
        background-position: center center;
}
.footer__network-in
{
        width: 32px;
        height: 32px;
        background-image: url("../images/in.svg");
        background-position: center center;
}





